body{
	/*background-image: linear-gradient(-90deg, brown, indigo);*/
}

.container-fluid{
	height: 100%;
}

.cardSize{
    height: 500px;
    width: 300px;
}

.col-xs-4{
	background-color: orange;
	border-style: solid;
	height: 20vh;
	/*centers img in parent container*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-xs-6{
	background-color: pink;
	border-style: solid;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-xs-12{
	background-color: yellow;
	border-style: solid;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

