body{
	/*background-image: linear-gradient(-90deg, brown, indigo);*/
}

.container-fluid{
	height: 100%;
}

/*
.noPadding{
	margin-top: 0;
	margin-bottom: 0;
}
*/

.cardSize{
	height: 200px; 
    width: 120px; 
    border-radius: 11px;
}

.col-xs-4{
	background-color: orange;
	border-style: solid;
	/*height: 25vh;*/
}

.col-xs-6{
	background-color: pink;
	border-style: solid;
	/*height: 25vh;*/
}

.col-xs-12{
	background-color: yellow;
	border-style: solid;
	/*height: 25vh;*/
}

