@font-face {
    font-family: "corneria";
    src: url(coneria-script/Demo_ConeriaScript.ttf) format("truetype");
}

body{
	  background: linear-gradient(brown, hotpink);
}

.container-fluid{
	height: 100%;
}

.cardSize{
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
    border-radius: 30px;
}


.col-xs-4{ /*footer row*/
	/*background-color: brown;*/
	border-style: solid;
	border-color: red;
	height: 20vh;
	/*centers img in parent container*/
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/*for the text that displays on top of cards*/
	text-align: center;
	color: white;
	font-size: 16px;
	font-size: 6vw;
	font-family: "corneria";
}

.col-xs-6{/*body*/
	/*background-color: pink;*/
	border-style: solid;
	border-color: red;
	height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on top of cards*/
	text-align: center;
	color: white;
	font-size: 16px;
	font-size: 6vw;
	font-family: "corneria";
}

.col-xs-12{/*header row*/
	/*background-color: yellow;*/
	border-style: solid;
	border-color: red;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on top of cards*/
	text-align: center;
	color: white;
	font-size: 16px;
	font-size: 6vw;
	font-family: "corneria";
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerCard{
  position: absolute;
  top:45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cardSizeXL{
	height: 100%;
    width: 100%;
    max-width: 750px;
    max-height: 1200px;
    border-radius: 70px;
}

