@font-face {
    font-family: Demo_ConeriaScript;
    src: url(coneria-script/Demo_ConeriaScript.ttf);
}

body {
    background-color: lightblue;
    background-image: url("pictures/wallpaper10.png");
    background-size: cover;
    z-index: -1;
}

h1 {
    color: white;
    text-align: center;
}

p {

}

div{
	font-family: Demo_ConeriaScript;
    src: url(coneria-script/Demo_ConeriaScript.ttf);
    font-size: 20px;
}


.cardSize{ /*alternatives large/med*/
    height: 200px; /*240*/ /*200*/
    width: 120px; /*135*/  /*120*/
    border-radius: 11px;
}



/*MAIN AREA OF PROJECT CARDS*/
.arena{	/*setting position*/
	margin-top: 40px;
	margin-left: 0%; /*gives space from the left/right */
	margin-right: 0%;
	border-style: solid;
	border-color: red;
}

@media only screen and (max-width: 600px){ /*when the width is X pixels or less change the structure of the page*/
	.arena {
		border-color: yellow;
	}
}

/*GIVES BORDERS TO THE PROJECT CARDS*/
.arena > div{
	border: 2px solid orange;
}


.arena { /*turning the area into a grid*/
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;

  grid-template-areas: /*this sets the length and width of a grid area you create*/
    "a a a  b b b  c c c"
    "a a a  b b b  c c c"
    "d d d  e e e  f f f "
    "d d d  e e e  f f f";
  align-items: start;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*EACH ITEM IS A PROJECT CARD FROM FROM LEFT TO RIGHT*/
.item1 {
	grid-area: a; /*designates which area it will go to based on the alphabet grid in ".arena"*/
	margin: 0 auto; /*centers the content inside the gride area (parent)*/
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}
.item2 {
	grid-area: b;
	margin: 0 auto;
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}
.item3 {
	grid-area: c;
	margin: 0 auto;
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}
.item4 {
	grid-area: a;
	margin: 0 auto;
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}
.item5 {
	grid-area: a;
	margin: 0 auto;
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}
.item6 {
	grid-area: a;
	margin: 0 auto;
	align-self: center;
	position: relative;
    text-align: center;
    color: white;
}

.footer{
	box-sizing: border-box; /*includes padding & border to our div*/
	position: fixed; /*locks the footer to the bottom of page even when scrolling*/
	bottom: -90px; /*lowers the footer*/
	text-align: center; /*centers the cards*/
	width: 100%; /*stretches footer to full width of screen*/
	border: solid;
	border-color: purple;
}




.header{
	color: red;
}

/*cardLEFT and cardRIGHT are to angle the two cards in the footer (about & contact)*/
.cardleft{
	transform: rotate(-20deg); 
	position: relative; 
	bottom: -10px;
}
.cardright{
	transform: rotate(20deg); 
	position: relative; 
	bottom: -10px
}

/*creates zoom effect on cards*/
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.35); /* IE 9 */
    -webkit-transform: scale(1.35); /* Safari 3-8 */
    transform: scale(1.35); 
}

/*creates overlay effect on cards*/
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlayText{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container{
	position: relative;
	width: 50%;
}

.container:hover .overlay {
  height: 100%;
}