@font-face {
    font-family: "corneria";
    src: url(coneria-script/Demo_ConeriaScript.ttf) format("truetype");
}
@font-face {
	font-family: "alexandria";
    src: url(alexandria/AlexandriaFLF.ttf) format("truetype");
}


body{
  color: #fff;
	background: linear-gradient(-45deg, #8CDFD6, #B2CEDE, #6DC0D5, #8CDFD6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

/* gradient animation start */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/* end of gradient animation */

.container-fluid{
	height: 100%;
}

.cardSize{
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 630px;
    border-radius: 30px;
}


.col-xs-4{ /*footer row*/
	background: linear-gradient(-45deg, #8CDFD6, #B2CEDE, #6DC0D5, #5A716A));

	height: 10vh;
	max-height: 100%;
	/*centers img in parent container*/
	display: flex; /*flex needed so we can center img*/
	align-items: center;
	justify-content: flex-end;
	/*for the text that displays on top of cards*/
	text-align: center;
	color: white;
	font-size: 16px;/*backup font size */
	font-size: 6vw;
  font-family: "corneria";
  
  background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.col-xs-6{/*body*/
	/*background-color: pink;*/
	/*border-style: solid;*/
	border-color: red;
	height: 43vh;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on top of cards*/
	text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(255, 53, 53);
	font-size: 16px;
	font-size: 6vw;
  font-family: "corneria";
}

.col-xs-12{/*header row*/
	/*background-color: yellow;*/
	/*border-style: solid;*/
	/*border-color: red;*/
	height: 5vh;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on header*/
	text-align: center;
  color: white;
	font-size: 16px;
	font-size: 6vw;
	font-family: "corneria";
}

/* Centered text */
.centered { /*positions text at center on the front side card*/
  position: absolute;
  display: flex;
  align-self: flex-end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bCardtxt { /* for the txt that appears on the BACK SIDE OF cards*/
  position: absolute;
  display: inline-flex;
  align-self: flex-end;
}

.footertxt { /*for the text that appears on the footer*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerCard{ /*centers the card within its own grid. */
  position: absolute;
  top:52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cardSizeXL{ /*BACKside card size*/
	height: 100%;
    width: 100%;
    max-width: 790px;
    max-height: 1300px;
    border-radius: 70px;
}

.cardXLtext{ /*for the text that appears on the FRONTside card*/
  text-align: center;
  color: black;
  font-size: 30px;
  font-size: 3.9vw;
  font-family: "alexandria";
  height: 1000px; /*the size of the text box*/
  width: 600px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(43, 27, 136);
}



/*Mixin for shadow button with block sliding up*/
@mixin btn-border-slide($color, $hoverColor, $borderWidth, $time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  
  position: relative;

  display: inline-block;
  padding: 0.5em 2em;

  cursor: pointer;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;

    height: $borderWidth;
    width: 100%;

    background-color: $color;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover {

    & > * {

      & > * {

        &:before,
        &:after {
          transform: translate3d(0, 0, 0);
        }

        & > * {
          &:before,
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  & > * {

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;

      height: 100%;
      width: $borderWidth;

      background-color: $color;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    & > * {

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 9;

        height: $borderWidth;
        width: 100%;

        background-color: $hoverColor;
      }

      &:before {
        top: 0;

        transform: translate3d(-105%, 0, 0);
        transition: transform $time $easing;
      }

      &:after {
        bottom: 0;
        
        transform: translate3d(105%, 0, 0);
        transition: transform $time $easing;
      }

      & > * {

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          z-index: 9;

          height: 100%;
          width: $borderWidth;

          background-color: $hoverColor;
        }

        &:before {
          left: 0;

          transform: translate3d(0, 105%, 0);
          transition: transform $time $easing;
        }

        &:after {
          right: 0;

          transform: translate3d(0, -105%, 0);
          transition: transform $time $easing;
        }
      }
    }
  }
}


.btn {
  @include btn-border-slide(#252525, #168dff, 2px, 0.8s);
}
