@font-face {
    font-family: "corneria";
    src: url(coneria-script/Demo_ConeriaScript.ttf) format("truetype");
}
@font-face {
	font-family: "alexandria";
    src: url(alexandria/AlexandriaFLF.ttf) format("truetype");
}


body{
  color: #fff;
	background: linear-gradient(-45deg, #06D6A0, #FFD166, #EF476F, #118AB2, #073B4C);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

/* card animation start */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/* end of card animation */

.container-fluid{
	height: 100%;
}

.cardSize{
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 630px;
    border-radius: 30px;
}


.col-xs-4{ /*footer row*/
	/*background-color: brown;*/
	/*border-style: solid;*/
	border-color: red;
	height: 10vh;
	max-height: 100%;
	/*centers img in parent container*/
	display: flex; /*flex needed so we can center img*/
	align-items: center;
	justify-content: flex-end;
	/*for the text that displays on top of cards*/
	text-align: center;
	color: white;
	font-size: 16px;/*backup font size */
	font-size: 6vw;
	font-family: "corneria";
}

.col-xs-6{/*body*/
	/*background-color: pink;*/
	/*border-style: solid;*/
	border-color: red;
	height: 43vh;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on top of cards*/
	text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(255, 53, 53);
	font-size: 16px;
	font-size: 6vw;
  font-family: "corneria";
}

.col-xs-12{/*header row*/
	/*background-color: yellow;*/
	/*border-style: solid;*/
	/*border-color: red;*/
	height: 5vh;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*for the text that displays on header*/
	text-align: center;
  color: white;
	font-size: 16px;
	font-size: 6vw;
	font-family: "corneria";
}

/* Centered text */
.centered { /*positions text the front side card*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-style: solid;
    border-color: yellow;*/
}

.centerCard{ /*centers the card within its own grid. */
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}

.cardSizeXL{ /*for the text that appears on the BACKside card*/
	height: 100%;
    width: 100%;
    max-width: 790px;
    max-height: 1300px;
    border-radius: 70px;
}

.cardXLtext{ /*for the text that appears on the FRONTside card*/
  text-align: center;
  color: black;
  font-size: 30px;
  font-size: 3.9vw;
  font-family: "alexandria";
  border-style: solid;
  height: 1000px; /*the size of the text box*/
  width: 600px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(113, 147, 221);
}